.dropbtn /* The style of the button for the dropdown */
{
  background-color: #e5e5e5;
  color: orange;
  padding: 16px;
  font-size: 17px;
  border: none;
  outline: none;
}
.dropbtn:hover /* When the dropdown is hovered over the text should turn black */
{
color: black;
}

.dropdown /*positions the dropdown on the screen relative to everything else */
{
  position: relative;
  display: inline-block;
}


.dropdown-content /*The box that the dropdowns content is in */
{ 
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a /* What styles the text in the content of the dropdown is */
{
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;} /*what color the background of the links under the dropdown are when hovered over */

.dropdown:hover .dropdown-content {display: block;} /* Tells that when the dropdown is hovered over display dropdown content */

.box /* information on the box that surrounds the nav */
{
  margin:auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #e5e5e5;
  position: fixed;
}

.nav /* where the nav is located */
{
float:left;
width:550px;
padding-top: 20px;
}

.nav a /*The style of the links in .nav */
{
  text-align: left;
  color: orange;
  padding: 10%;
  text-decoration: none;
  font-family: arial;
  padding-top: 6px;
  font-size: 17px;
}

.nav a:hover /*The links under .nav will change black when hovered over */
{
  color: black;
}

.title a /*information on where the title is and the style that it uses */
{
  float:left;
  color: orange;
  font-family: arial;
  text-decoration: none;
  font-size: 24px;
  padding-right: 300px;
  padding-top: 32px;
}

.title a:hover /*the title will change to black when you hover over it */
{
  color: black;
}

.search /*organises where the search bar is and the background color */
{
  padding-top: 28px;
  background-color: #e5e5e5;
 }

 input:focus, textarea:focus, select:focus /*gets rid of the highlight when you click on the search bar */
{
  outline: none;
}

.search a /*edits the text in the seach bar */
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .search a:hover 
{ 
  background-color: #ddd;
  color: orange;
}

.search a.active 
{
  background-color: #2196F3;
  color: white;
}

Still need to test this code not sure if it works have no information in the search engine
*/ 

.search input[type=text] /*What the style of the text the user types will be */
{
  border:solid;
  color: orange;
  padding: 6px;
  font-size: 17px;
}

.boxF
{
  margin:auto;
  top: 90%;
  left: 0;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: black;
}
.sources
{
  color: orange;
  font-family: arial;
  font-size: 16px;
  float: left;
  width: 1000px;
  padding-left: 20px;
}

.sources a
{
  color: orange;
  text-decoration: none;
  font-family: arial;
  font-size: 16px;
  float: left;
  padding-top: 20px;
  padding-left: 10px;
}

.media 
{
  color: orange;
  font-family: arial;
  font-size: 16px;
  float: left;
}

.media a
{
  color: orange;
  text-decoration: none;
  font-family: arial;
  font-size: 16px;
  float: left;
}

.sourceN {
  float: left;
  padding-top: 20px;
}

