.dropbtn /* The style of the button for the dropdown */
{
  background-color: #e5e5e5;
  color: orange;
  padding: 16px;
  font-size: 17px;
  border: none;
  outline: none;
  position: relative;
  z-index: 7;
}
.dropbtn:hover /* When the dropdown is hovered over the text should turn black */
{
color: black;
}

.dropdown /*positions the dropdown on the screen relative to everything else */
{
  position: relative;
  display: inline-block;
  z-index: 7;

}


.dropdown-content /*The box that the dropdowns content is in */
{ 
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 7;
}

.dropdown-content a /* What styles the text in the content of the dropdown is */
{
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;} /*what color the background of the links under the dropdown are when hovered over */

.dropdown:hover .dropdown-content {display: block;} /* Tells that when the dropdown is hovered over display dropdown content */

.box /* information on the box that surrounds the nav */
{
  margin:auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 14%;
  background-color: #e5e5e5;
  position: fixed;
  z-index: 3;
}

.nav /* where the nav is located */
{
  float: left;
  padding-left: 3%;
  width: 42%;
  padding-top: 2%;
  position: relative;
  z-index: 4;
}

.nav a /*The style of the links in .nav */
{
  text-align: left;
  color: orange;
  text-decoration: none;
  font-family: arial;
  padding-top: .6%;
  font-size: 17px;
  padding: 3%;
  position: relative;
  z-index: 4;
}

.nav a:hover /*The links under .nav will change black when hovered over */
{
  color: black;
}

.title a /*information on where the title is and the style that it uses */
{
  padding-top: 2.5%;
  color: orange;
  float: left;
  font-family: arial;
  text-decoration: none;
  font-size: 24px;
  position: relative;
  z-index: 4;
}

.title a:hover /*the title will change to black when you hover over it */
{
  color: black;
}

.search /*organises where the search bar is and the background color */
{
  float: right;
  padding-right: 3%;
  background-color: #e5e5e5;
  padding-top: 2.5%;
  position: relative;
  z-index: 4;
 }

 input:focus, textarea:focus, select:focus /*gets rid of the highlight when you click on the search bar */
{
  outline: none;
}

.search a /*edits the text in the seach bar */
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 .search a:hover 
{ 
  background-color: #ddd;
  color: orange;
}

.search a.active 
{
  background-color: #2196F3;
  color: white;
}


.search input[type=text] /*What the style of the text the user types will be */
{
  border:solid;
  color: orange;
  padding: 6px;
  font-size: 17px;
}

.boxF
{
  margin:auto;
  top: 90%;
  left: 0;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: black;
  z-index: 3;
}
.sources
{
  color: orange;
  font-family: arial;
  font-size: 16px;
  float: left;
  width: 70%;
  padding-left: 2%;
  position: relative;
  z-index: 4;
}

.sources a
{
  color: orange;
  text-decoration: none;
  font-family: arial;
  font-size: 16px;
  float: left;
  padding-top: 2%;
  padding-left: 1%;
}

.sources a:hover{
  color: white;
}


.media 
{
  float: right;
  padding-right: 2%;
  padding-top: 1%;
  width: 11%;
  position: relative;
  z-index: 4;
}

.media a
{
  color: orange;
  text-decoration: none;
  font-family: arial;
  font-size: 16px;
  float: left;
  padding: 4.5%;
}

.sourceN {
  float: left;
  padding-top: 2%;
  position: relative;
  z-index: 4;
}


.slideshow-container {
  padding-top: 7%;
  padding-left: 1%;
  max-width: 65%;
  max-height: 55%;
  position: relative;
  margin: auto;
  float: left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 2%;
  margin-top: -2.5%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: .5% 0 0 .5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  padding-top: 5%;
  color: #f2f2f2;
  font-size: 12px;
  padding: 1% 1.5%;
  position: absolute;
  font-family: arial;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.caption {
  float: right;
  padding-top: 7%;
  color: black;
  max-width: 33%;
  padding-right: 3%;
  font-family: arial;
}

.coloumnA1 {
  float: left;
  width: 52%;
  position: fixed;
  padding-top: 8%;
  padding-left: 1.5%;
  font-family: calibri;
  color: black;
  z-index: 2;
  margin: auto;
}

.coloumnA2 {
  float: left;
  position: relative;
  padding-top: 4.75%;
  font-family: calibri;
  padding-left: 59%;
  padding-right: 2%;
  color: black;
  z-index: 1;
  margin: auto;
}

.captionA{
  padding-left: 1%;
}

* {
  box-sizing: border-box;
}

.images{
  padding-top: 6.5%;
  width: 30%;
  float: left;
  padding-left: 2%;
}

.content1C{
  padding-top: 6%;
  width: 70%;
  float: left;
  font-family: arial;
}

.P1{
  font-family: arial;
  font-size: 18px;
}
.P2{
  padding-top: 1%;
  font-family: arial;
  font-size: 18px;
}

.P3{
  padding-top: 1%;
  font-family: arial;
  font-size: 18px;
}

.coloumnC1 {
  float: left;
  width: 46%;
  position: fixed;
  padding-top: 7%;
  font-family: calibri;
  color: black;
  z-index: 2;
  padding-left: 1.5%;
  margin: auto;
}

.coloumnC2 {
  float: left;
  position: relative;
  padding-top: 5%;
  font-family: calibri;
  padding-left: 54%;
  padding-right: 2%;
  color: black;
  z-index: 1;
  margin: auto;
}

.contactUs{
  padding-top: 10%;
  padding-left: 45%;
  font-family: arial;
}
.person1{
  float: left;
  padding-top: 29%;
  width: 110%;
  padding-left: 28%;
}

.person2{
  width: 45%;
  float: left;
  padding-left: 15%;
  padding-top: 8%;
  padding-bottom: 7%;
  position: relative;
  z-index: 2;
}

.person3{
  width: 45%;
  float: right;
  padding-right: 15%;
  padding-top: 8%;
  padding-bottom: 7%;
  position: relative;
  z-index: 2;
}

.fax{
  padding-top: 2%;
  width: 88%;
  padding-left: 13%;
  position: relative;
}

.SFS{
  font-family: arial;
  font-size: 18px;
}

.LS{
  font-family: arial;
  font-size: 18px;
  text-decoration: none;
  color: orange;
}

.LS:hover{
  color: grey;
}

