.box{
	background-color: #e5e5e5;
	width: 100%;
	height: 12.5%;
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
}

.box a:hover{
	color: black;
}

.about{
	width: 14%;
	float: left;
	height: 100%;
}

.about a{
	color: orange;
	text-decoration: none;
	margin-left: 35%;
	margin-top: 17%;
	float: left;
	font-size: 22px;
	font-family: arial;
}

.contact{
	width: 14%;
	float: left;
	height: 100%;
}
.contact a {
	color: orange;
	text-decoration: none;
	margin-left: 35%;
	margin-top: 17%;
	float: left;
	font-size: 22px;
	font-family: arial;
}
.title{
	width: 30%;
	float: left;
	height: 100%;
}
.title a {
	color: orange;
	text-decoration: none;
	float: left;
	font-size: 28px;
	font-family: arial;
	margin-top: 7%;
	margin-left: 5%;
}

.searchB{
	width: 28%;
	float: left;
	height: 100%;
}

.search{
	margin-top: 7%;
	float: left;
	padding-left: 30%;
}

 input:focus, textarea:focus, select:focus /*gets rid of the highlight when you click on the search bar */
{
  outline: none;
}

.search a /*edits the text in the seach bar */
{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

 .search a:hover 
{ 
  background-color: #ddd;
  color: orange;
}

.search a.active 
{
  background-color: #2196F3;
  color: white;
}


.search input[type=text] /*What the style of the text the user types will be */
{
  border:solid;
  color: orange;
  padding: 6px;
  font-size: 19px;
}

.drop{
	width: 14%;
	float: left;
	height: 100%;
}
.dropbtn /* The style of the button for the dropdown */
{
  background-color: #e5e5e5;
  color: orange;
  padding: 16px;
  font-size: 22px;
  border: none;
  outline: none;
}

.dropdown{
	float: left;
	margin-left: 12%;
	margin-top: 10%;
}
.dropbtn:hover /* When the dropdown is hovered over the text should turn black */
{
color: black;
}

.dropdown-content /*The box that the dropdowns content is in */
{ 
  display: none;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-width: 100%;
}

.dropdown-content a /* What styles the text in the content of the dropdown is */
{
  color: orange;
  text-decoration: none;
  display: block;
  font-size: 19px;
  padding: 5%;
  font-family: arial;
}

.dropdown-content a:hover {background-color: white;} /*what color the background of the links under the dropdown are when hovered over */

.dropdown:hover .dropdown-content {display: block;} /* Tells that when the dropdown is hovered over display dropdown content */

.slideshow-container{
	width: 60%;
	float: left;
	margin-top: 6%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 40.1%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  padding-top: 50px;
  color: #f2f2f2;
  font-size: 12px;
  padding: 1% 1.5%;
  position: absolute;
  font-family: arial;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.caption{
	width: 36%;
	background-color: yellow;
	float: left;
	margin-top: 7%;
	margin-left: 2%;
}