.menu {
overflow: hidden;
background-color: #040024;
position: fixed;
margin: auto;
top: 0;
left: 0;
width: 100%;
height: 15%;
color: orange;
padding-left: 5%;
line-height: 350%;
word-spacing: 20px;
font-family: calibri;
font-size: 110%;
}
.top{
overflow: hidden;
position: fixed;
margin: auto;
color: orange;
font-family: calibri;
font-size: 200%;
line-height: 25%;
left: 25%;
}
.coloumn {
float: left;
width: 46%;
padding-top: 7%;
font-family: calibri;
padding-left: 2%;
padding-right: 2%;
}


a{
	color: orange;
	text-decoration: none;
 }
a:hover{
	color: #f5ce42;
}
a:focus{
	color: #f5ce42; 
