
.menu {
overflow: hidden;
background-color: #191919;
position: fixed;
margin: auto;
top: 0;
left: 0;
width: 100%;
height: 15%;
color: orange;
padding-left: 5%;
line-height: 350%;
word-spacing: 20px;
font-family: calibri;
font-size: 110%;
     }
a{
	color: orange;
	text-decoration: none;
 }
a:hover{
	color: #f5ce42;
}
a:focus{
	color: #f5ce42; 
